<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}

    <link href="/dist/css/fonts.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/src/docs.min.css" rel="stylesheet">

    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}{% endblock %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
	<script src="/dist/js/bootstrap.min.js"></script>
	<script src="/assets/js/ie10-viewport-bug-workaround.min.js"></script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
